services:
  landing-page-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5373:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
