@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #64748b;
  --color-brand-accent: #f59e0b;
  --font-sans: Inter, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}